@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Merriweather:wght@900&family=Roboto:wght@300;400&display=swap");

.section-1 {
    margin-top: 150px;
    margin-bottom: 100px;
}
.section-1 h4{
    text-align: center;
    font-family:  lato,Sans-serif !important;
  font-size: 40px;
  font-weight: 900;
  color: #242f65;
}
.section-1 h3{
    font-size: 20px;
  font-weight: 900;
}
.section-1 h5{
  font-family: lato, sans-serif !important;
 
}
.con1{
  font-size: 60px;
  color: #242f65;
  transition: font-size 0.5s,color 0.5s;
}
.con1:hover{
  font-size: 70px;
  color: #4c60c9;
}
.con2{
  font-size: 50px;
  color: #242f65;
  transition: font-size 0.5s,color 0.5s;
}
.con2:hover{
  font-size: 60px;
  color: #4c60c9;
}
.icons{
    background-color:  white !important;
    border-radius: 30%;
    border-color:  #242f65 !important;
    color:#242f65 ;
    padding-bottom: 0%;
    padding-top: 0.5%;
    transition: color 0.5s, background-color 0.5s;
}
.icons:hover i {
    color: white !important;
  }
  .icons:hover {
    background-color: #4c60c9 !important;
    border-color: #4c60c9 !important;
  }
  .map{
    position:relative;
    height: 50vh;
    transition: transform 0.5s;
  }
  .map:hover{
  transform: scale(1.1); 
  }
  .map-container{
    overflow:hidden;
    position:relative;
    height:0;
    }
    .map-container iframe{
      padding-top: 5%;
    left:0;
    top:0;
    height:68%;
    width:100%;
    position:absolute;
    }
.img-map{
  width: 100%;
  height: 50vh;
}