
<div class="container section-1" id="your-element-selector">
    <div class="row ">
        <div>
            <h4 >PING US</h4>
        </div>
        <div class="row mt-md-5">
            <div class="container col-md-6">
                <div class="container map " #mapElement style="box-shadow: 0px 0px 30px #4c60c9"></div>
            </div>  
            <div class="col-md-6 ">
                <div class="row mt-md-5">
                    <div class="col-5 position-relative">
                        <i class="fa fa-phone position-absolute start-50" style=" font-size: 60px; color: #4c60c9"></i>
                    </div>
                    <div class="col-5" style="text-align: start;">
                        <div class="row ">
                            <h5>Contact</h5>
                        </div>
                        <div class="row">
                            <h3>9840153059</h3>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row mt-md-5">
                    <div class="col-5 position-relative">
                        <i class="fa fa-envelope position-absolute start-50" style="float: right; font-size: 50px; color: #4c60c9"></i>
                    </div>
                    <div class="col-5" style="text-align: start;">
                        <div class="row ">
                            <h5>E-Mail</h5>
                        </div>
                        <div class="row">
                            <h3> ceokardle@gmail.com</h3>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" style="text-align: center;">
                    <div class="icons-grp ms-md-5 mt-1 mb-3 mb-md-0  mt-md-5">
                        <a class="btn btn-primary icons ms-md-1"
                        ><i class="fa fa-facebook-f" style="font-size: 18px"></i
                        ></a>
                        <a class="btn btn-primary icons ms-3 px-2"
                        ><i class="fa fa-twitter" style="font-size: 18px"></i
                        ></a>
                        <a class="btn btn-primary icons ms-3 px-2"
                        ><i class="fa fa-instagram" style="font-size: 18px"></i
                        ></a>
                        <a class="btn btn-primary icons ms-3 px-2"
                        ><i class="fa fa-linkedin-square" style="font-size: 18px"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
