<div  style="margin-top: 95px;" >
    <div>
        <div class="titlediv ">
            <div class="col-md-6 col-8 offset-md-3 offset-2 py-5 text-center">
                <h2 class="title">Our Journey</h2>
                <p class="px-md-5 sub-title mt-4 kardle">
                    We are a Energetic team, Great Advisers and Spectacular Partners who
                    all understand the problems of Developing markets have experience in
                    the terrains of Biotechnology, Mechanical Engineering, Computer
                    science Engineering, Electronics Engineering and Design & development,
                    helps push forward ourselves towards the goal.
                </p>
            </div>
        </div>
        <div>
            <div class="section-2 mt-3 section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 offset-md-1 left photos">
                            <img src="../../assets/thooyan1.jpeg" class="img-fluid award-img" alt="" />
                        </div>
                        <div class="col-md-5 mt-md-5 text-center text-md  right content">
                            <h4 class="mt-md-5">
                                July 2017
                            </h4>
                            <p class="biotorr-desc text-md-start">
                                <b style="font-size: 20px;">&emsp;F</b>ounded KARDLE Industries as a 3 Member Team, various startup learnings and Bootstrapping<br>
                            </p>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="section-2 mt-3 section clr">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 mt-md-5 text-center text-md  left content">
                            <h4 class="mt-md-5">
                                February 2019
                            </h4>
                            <p class="biotorr-desc text-md-start">
                                <b style="font-size: 20px;">&emsp;F</b>irst phase prototype Demonstration at Deptartment of Biotechnology, Rajalakshmi Engineering College, Chennai<br><br>
                                <b style="font-size: 20px;">&emsp;A</b>warded best Alumni Company by Sree Sastha Institute of Engineering and Technology, Chennai
                            </p>
                           
                        </div>
                        <div class="col-md-5 offset-md-1 right photos">
                            <img src="../../assets/thooyan1.jpeg" class="img-fluid award-img" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="section-2 mt-3 section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 offset-md-1 left photos">
                            <img src="../../assets/thooyan1.jpeg" class="img-fluid award-img" alt="" />
                        </div>
                        <div class="col-md-5 mt-md-5 text-center text-md right content">
                            <h4 class="mt-md-5">
                                August - December 2019
                            </h4>
                            <p class="biotorr-desc">
                                <b style="font-size: 20px;">&emsp;F</b>iling of Patent. Nomination for India 500 Startup Awards
                            </p>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-md-0 mb-5 mt-md-5">
        <div class="titlediv ">
            <div class="col-md-6 col-8 offset-md-3 offset-2 py-5 text-center">
                <h2 class="title">Mission And Vision</h2>
                <p class="px-md-5 sub-title mt-4 kardle">
                    We are a Energetic team, Great Advisers and Spectacular Partners who
                    all understand the problems of Developing markets have experience in
                    the terrains of Biotechnology, Mechanical Engineering, Computer
                    science Engineering, Electronics Engineering and Design & development,
                    helps push forward ourselves towards the goal.
                </p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top: 40px;">
            <div class="row">
                <div class="col-md-6 text-center mb-md-0 mb-5">
                    <div class="row">
                        <h1><span style="width: 300px; background-color:#242f65; border-radius: 5%;" class="badge">Mission</span></h1>
                    </div>
                    <div class="row mt-md-5" style="margin-top: 20px; ">
                        <div class="mvcon container-fluid col-10">
                            <p class="mv">We are a Energetic team, Great Advisers and Spectacular Partners who
                                all understand the problems of Developing markets have experience in
                                the terrains of Biotechnology, Mechanical Engineering, Computer
                                science Engineering, Electronics Engineering and Design & development,
                                helps push forward ourselves towards the goal.</p>
                                <img src="https://vivalyf.in/wp-content/uploads/2021/12/undraw_Creative_woman_re_u5tk-removebg-preview.png">
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6  text-center">
                    <div class="row"> 
                        <h1><span style="width: 300px; background-color:#242f65; border-radius: 5%;" class="badge">Vision</span></h1>
                    </div>
                    <div class="row mt-md-5" style="margin-top: 20px; ">
                        <div class="mvcon container-fluid col-10" >
                            <p class="mv">We are a Energetic team, Great Advisers and Spectacular Partners who
                                all understand the problems of Developing markets have experience in
                                the terrains of Biotechnology, Mechanical Engineering, Computer
                                science Engineering, Electronics Engineering and Design & development,
                                helps push forward ourselves towards the goal.</p>
                                <img src="https://vivalyf.in/wp-content/uploads/2021/12/undraw_Creative_woman_re_u5tk-removebg-preview.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-md-5 mb-md-0">
        <div class="titlediv ">
            <div class="col-md-6 col-8 offset-md-3 offset-2 py-5 text-center">
                <h2 class="title">Our Values</h2>
                <p class="px-md-5 sub-title mt-4 kardle">
                    Kardle is a biotechnology based start-up, having a goal to make the bio-research field accessible to every research aspirants by providing them a one stop research tool with advanced operations and improved handling. Kardle plans to collaborate with other research organizations and commercial enterprises to develop new products and services for the improvement / betterment of humankind without harming nature.
                </p>
            </div>
        </div>
        <div class="mt-md-5 col-10 container-fluid" >
            <ul  class="nav nav-pills nav-fill" id="tabs" >
                <li class="nav-item ">
                  <a href="#m1"  class="nav-link active" data-bs-toggle="tab">
                    Section
                  </a>
                </li>
                <li class="nav-item ">
                  <a href="#m2" class="nav-link " data-bs-toggle="tab">
                    Journals & Magazines
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#m3" class="nav-link" data-bs-toggle="tab">
                    Digital Library
                  </a>
                </li>
              </ul>
              <div class="tab-content container" style="background-color: #f1f5fab9; border-radius: 15%; ">
                <div class="tab-pane fade show active" id="m1" style="padding: 5%;">
                  <h4> STACK1 ROOM</h4>
                  <ul>
                    <li>The Hindu- English</li>
                    <li>The New Indian Express</li>
                    <li>Business Line</li>
                    <li>Times of India</li>
                    <li>Daily Thanthi</li>
                    <li>Maalai Malar</li>
                  </ul>
                </div>
                <div class="tab-pane fade " id="m2" style="padding: 5%;">
                    <h4> STACK2 ROOM</h4>
                  <ul>
                    <li>The Hindu- English</li>
                    <li>The New Indian Express</li>
                    <li>Business Line</li>
                    <li>Times of India</li>
                    <li>Daily Thanthi</li>
                    <li>Maalai Malar</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="m3" style="padding: 5%;">
                    <h4> STACK3 ROOM</h4>
                    <ul>
                      <li>The Hindu- English</li>
                      <li>The New Indian Express</li>
                      <li>Business Line</li>
                      <li>Times of India</li>
                      <li>Daily Thanthi</li>
                      <li>Maalai Malar</li>
                    </ul>
                </div>
              </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

