<div class="mt-5">hello</div>
<div class="container mt-5 text-center section section-1">
  <h2 class="title">
    THOOYAN AIR<br />
    PURIFICATION<br />
    SYSTEM
  </h2>
  <h5 class="sub-title">THE AI PLANT</h5>
</div>

<div class="section-2 pt-5 section">
  <div class="container">
    <div class="row pt-md-5">
      <div class="col-md-5 offset-md-1 left content">
        <h4 class="text-center text-md-start title">TRACTION</h4>
        <p class="biotorr-desc mt-4 text-center text-md-start sub-title">
          Thooyan (Air quality device) is Alpha prototype product currently and
          lab tested to improve Air quality level, Clinical trials are in
          progress to prove the efficiency of its operations and re-design to
          attain maximum filtration level.
        </p>
      </div>
      <div class="col-md-5 ms-md-0 ms-xs-3 right photos">
        <img
          src="../../assets/thooyan1.jpeg"
          class="img-fluid thooyan-img"
          alt=""
        />
        <p class="sub-title">CIIC Scientist Operating Thooyan</p>
      </div>
    </div>
  </div>
</div>
<div class="section-3 mt-1 pt-5 pb-3 section">
  <div class="container">
    <div class="row pt-md-5 pb-md-5">
      <div class="col-md-5 offset-md-1 left photos">
        <img
          src="../../assets/thooyan2.jpeg"
          class="img-fluid thooyan-img"
          alt=""
        />
      </div>
      <div class="col-md-5 ms-md-0 ms-xs-3 right content mt-3 mt-md-0">
        <h4 class="text-center text-md-end title">DIFFERENTIATOR</h4>
        <p class="biotorr-desc mt-4 text-center text-md-end sub-title">
          Thooyan (Air quality device) is Alpha prototype product currently and
          lab tested to improve Air quality level, Clinical trials are in
          progress to prove the efficiency of its operations and re-design to
          attain maximum filtration level.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section-4 section mt-md-0 mt-5">
  <div class="container">
    <div class="row pt-md-5">
      <div class="col-md-5 offset-md-1 left content">
        <h4 class="text-center text-md-start title">MARKET OPPORTUNITY</h4>
        <p class="biotorr-desc mt-4 text-center text-md-start sub-title">
          Alarming Air quality level and related breathing ailments are creating
          a huge demand of Air Quality Improvising techniques and services at
          affordable cost. Air quality companies has been a long debating market
          and not much explored by start-ups.
        </p>
        <p class="biotorr-desc mt-4 text-center text-md-start sub-title">
          With increase in Air Transmission diseases and Industrial pollution
          Y-O-Y, Personal Air quality healthcare Sector is projected to grow at
          CARG of 31%.
        </p>
      </div>
      <div class="col-md-5 ms-md-0 ms-xs-3 right photos">
        <img
          src="../../assets/thooyan3.png"
          class="img-fluid thooyan-img"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 text-center section section-6">
  <h5 class="sub-title top" style="font-size: 24px; font-weight: 600">
    Thooyan During Testing
  </h5>
</div>
<div class="section-5 mt-2 section top">
  <div class="container">
    <div class="row pt-md-5">
      <div class="col-md-5 offset-md-1 mt-md-0 mt-3">
        <img
          src="../../assets/thooyan4.jpeg"
          class="img-fluid thooyan-img"
          alt=""
        />
      </div>
      <div class="col-md-5 ms-md-0 ms-xs-3 mt-md-0 mt-4">
        <img
          src="../../assets/thooyan5.png"
          class="img-fluid thooyan-img"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
