@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Merriweather:wght@900&family=Roboto:wght@300;400&display=swap");
.title {
  font-family: "lato", Sans-serif !important;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 2px;
  color: #242f65;
}
.sub-title {
  color: #767b92;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}
.hidden-right {
  opacity: 0;
  transform: translateX(8rem);
}
.hidden-left {
  opacity: 0;
  transform: translateX(-8rem);
}
.content {
  transition: transform 1s, opacity 1s;
}
.photos {
  transition: transform 2s, opacity 1s;
}
.top {
  transition: transform 1s, opacity 1s;
}
.hidden-top {
  opacity: 0;
  transform: translateY(8rem);
}
.section-3 {
  /* background-image: url("../../assets/background1.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #f1f5fa;
}
