<div class="mt-5">hello</div>
<div class="container mt-5 text-center section section-1">
  <div class="container">
    <div class="row pt-md-5">
      <div class="col-md-5 offset-md-1 left content">
        <h4 class="text-center text-md-start title">Career At Kardle</h4>
        <p class="biotorr-desc mt-4 text-center text-md-start sub-title">
          Kardle's ambition is to simplify progress in life science research and
          the biopharmaceutical industry to help translate scientific findings
          into new therapeutics faster and more efficiently.
        </p>
        <p class="biotorr-desc text-center text-md-start sub-title">
          So more people can gain access to greater eases. Nearly 100 workers at
          more than 1 manufacturing and sales locations worldwide are dedicated
          to the vision.
        </p>
        <p class="biotorr-desc text-center text-md-start sub-title">
          As our organization is growing , we plan to expand our staff with
          individuals who share our vision and wish to put their abilities to
          the test at a lively, innovative atmosphere.
        </p>
        <p class="biotorr-desc text-center text-md-start sub-title">
          Join our international team and develop with us.
        </p>
      </div>
      <div class="col-md-6 ms-md-0 ms-xs-3 mt-2 right photos">
        <img
          src="../../assets/careerdemo.png"
          class="img-fluid career-img"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="mt-5 section section-2 pb-5">
  <div class="container">
    <div class="row pt-md-5">
      <div class="col-md-5 offset-md-1 text-center text-md-start">
        <p class="title-2 ms-md-5">
          Grow <br />
          with <br />
          us!
        </p>
        <h2 class="title-1 ms-md-5 mt-2">Join Us</h2>
        <a>
          <i
            class="fa fa-phone mt-5 mb-3 icon"
            style="font-size: 50px; color: #242f65"
          ></i
        ></a>
        <i
          class="fa fa-envelope icon"
          style="font-size: 45px; margin-left: 180px; color: #242f65"
        ></i
        ><br />
        <span class="details me-4">Telphone : 9840153059</span>
        <span class="details ms-5">Email:ceokardle@gmail.com</span>
      </div>
      <div class="col-md-5 ms-md-0 ms-xs-3 mt-2 right photos">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label"
              >Name <span style="color: red; font-size: 12px">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Your name"
            />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label"
              >Phone number
              <span style="color: red; font-size: 12px">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="081234 56789"
            />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label"
              >Designation
              <span style="color: red; font-size: 12px">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Your Designation"
            />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label"
              >Your Role
              <span style="color: red; font-size: 12px">*</span></label
            >
            <select class="form-select" aria-label="Default select example">
              <option value="AR & VR" selected>AR & VR</option>
              <option value="Business Development">Business Development</option>
              <option value="Electricals & Electronics">
                Electricals & Electronics
              </option>
              <option value="Internship">Internship</option>
              <option value="Mechanical & Robotics Design">
                Mechanical & Robotics Design
              </option>
              <option value="Software Development">Software Development</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="yourself" class="form-label">Tell About Yourself</label>
            <textarea
              class="form-control"
              id="yourself"
              placeholder="Why choose us?"
              rows="3"
            ></textarea>
            <button
              class="btn btn-primary mt-3 submit"
              style="background-color: #242f65; border-color: #242f65"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
