@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lato:ital@0;1&family=Merriweather:wght@900&family=Raleway:wght@400;500;600;900&family=Roboto:wght@300;400&display=swap");
.title {
  font-family: "lato", Sans-serif !important;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 2px;
  color: #242f65;
}
.sub-title {
  color: #767b92;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}
.section-2 {
  background-image: url("../../assets/background2.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e4ecfc;
}
label {
  font-weight: 600;
  font-family: "Roboto", Sans-serif;
}
.title-1 {
  font-family: "Merriweather", Sans-serif !important;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 2px;
  color: #242f65;
}
.title-2 {
  margin-top: 20% !important;
  line-height: 1.3;
  letter-spacing: 2px;
  color: #242f65;
  font-family: "Merriweather", Sans-serif !important;
  font-weight: 600;
  font-size: 20px;
}
.details {
  color: #242f65;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
  color: #6ec1e4 !important;
}
.submit:hover {
  background-color: #6ec1e4 !important;
  border-color: #6ec1e4 !important;
}
