@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Merriweather:wght@900&family=Roboto:wght@300;400&display=swap");
.biotorr-img {
  object-fit: cover !important;
  width: 90%;
}
.main-img {
  background-color: #9a9896;
  margin: auto;
}
.section-3 {
  margin-top: 60px !important;
}
.section-3 h4,
.section-2 h4 {
  font-family: "lato", Sans-serif !important;
  font-size: 40px;
  font-weight: 900;
  color: #242f65;
}
.biotorr-img-2 {
  height: 85%;
}
.biotorr-desc {
  font-family: "Roboto", Sans-serif;
  line-height: 1.5em;
  font-size: 20px;
}
.col-md ul {
  list-style: square inside
    url("https://img.icons8.com/external-becris-lineal-becris/18/000000/external-check-mintab-for-ios-becris-lineal-becris-1.png");
}
.col-md ul li {
  padding: 6px;
}
.section-3 {
  background-image: url("../../assets/background1.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e4ecfc;
}
.award-img {
  height: 30rem !important;
}
.know {
  border-radius: 50px;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-left: 40px;
  background-color: #4054b2;
  border-color: #4054b2;
}
@media only screen and (min-width: 768px) {
  .biotorr-img {
    height: 40rem;
  }
  .biotorr-img-2 {
    height: 80%;
  }
  .section-4 {
    margin-bottom: 100px !important;
    margin-top: 100px !important;
  }
  .img-btn {
    position: absolute;
    top: 50%;
    left: 46% !important;
    z-index: 1;
    color: white;
    border-color: white;
    border-radius: 30px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .img-text {
    position: absolute;
    top: 42% !important;
    left: 38%;
    z-index: 1;
    color: white;
    font-family: "lato", sans-serif;
    font-weight: 600;
    letter-spacing: 1.8px !important;
  }
}
.img-text {
  position: absolute;
  top: 0%;
  color: white;
}
.img-btn {
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 1;
  color: white;
  border-color: white;
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.section {
  transition: transform 1s, opacity 1s;
}
/* transition: transform 1s, opacity 1s; */

.main-img {
  position: relative;
}

.img-btn:hover,
.img-btn:active,
.img-btn:focus {
  box-shadow: none !important;
}
.img-btn:hover {
  background-color: #4054b2;
}
.img-btn {
  top: 60%;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes example {
  from {
    top: 65%;
  }
  to {
    top: 50%;
  }
}
.section-5 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.bio-heading {
  font-size: 48px;
  font-family: "lato", sans-serif;
  font-weight: 900;
  color: #242f65;
}
.features {
  border: 0.1px solid transparent;
  transition: border 0.3s ease-in-out !important;
}
.features:hover {
  border: 1px solid black;
  color: #242f65 !important;
  transition: border 0.3s ease-in-out;
}
