<div class="section-1 main-img mt-5">
  <img
    src="../../assets/bioreactor.png"
    class="img-fluid biotorr-img mt-4 ms-md-5"
    alt=""
  />
  <h2 class="img-text">The Next Gen Bio Reactor</h2>
  <button class="img-btn btn btn-outline-primary">Know more</button>
</div>
<div class="section-2 mt-3 section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <img src="../../assets/award1.png" class="img-fluid award-img" alt="" />
      </div>
      <div class="col-md-5 mt-md-5 text-center text-md-start">
        <h4 class="mt-md-5">OUR SUCCESSFUL MOMENTS</h4>
        <p class="biotorr-desc">
          Kardle Industries is nominated in <br />India 500 STARTUP AWARD
        </p>
        <button class="btn btn-primary know py-2 mt-3">
          Know more about us
        </button>
      </div>
    </div>
  </div>
</div>

<div class="section-3 pt-5 section">
  <div class="container">
    <div class="row pt-md-5">
      <div class="col-md-5 offset-md-1">
        <h4 class="text-center text-md-start">
          BIOTORR™ – THE NEXTGEN BIOREACTOR
        </h4>
        <p class="biotorr-desc mt-4 text-center text-md-start">
          Our innovation (BioTorr – The Nextgen Bioreactor) is an economical
          bioreactor with improved handling, ease of access, along with trendy
          and novel technological features. Our innovation contains advanced
          software features like Machine Learning, AI, etc., that it helps the
          customers to work more with it, making the customer (researcher) to
          fall in love with the product, due to its versatility and easier
          operation, maintenance and handling.
        </p>
        <div class="row">
          <div class="col-md">
            <ul>
              <li>Environmental Friendly</li>
              <li>Reliability</li>
              <li>Easy Maintenance</li>
            </ul>
          </div>
          <div class="col-md">
            <ul>
              <li>Innovation</li>
              <li>Versatility</li>
              <li>Easier Operation</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 ms-md-0 ms-xs-3">
        <img
          src="../../assets/biotorr2.png"
          class="img-fluid biotorr-img-2"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="section-4 mt-5 mb-5 section">
  <div class="container">
    <img
      src="../../assets/funders.png"
      class="img-fluid col-md-10 offset-md-1"
      alt=""
    />
  </div>
</div>
